In [2]:
import pandas as pd
import numpy as np

In [3]:
data_collection = pd.read_csv('C:/Users/ashwi/Documents/LighthouseLabs/Data Analysis/Capstone Project/capstone/data/1/data_collection.csv')
pen_by_pos = pd.read_csv('C:/Users/ashwi/Documents/LighthouseLabs/Data Analysis/Capstone Project/capstone/data/1/pen_by_pos.csv')
pen_by_pos_2 = pd.read_csv('C:/Users/ashwi/Documents/LighthouseLabs/Data Analysis/Capstone Project/capstone/data/1/pen_by_pos_2.csv')
log = pd.read_csv('C:/Users/ashwi\Documents/LighthouseLabs/Data Analysis/Capstone Project/capstone/data/0 Kraggle Original/log.csv')

In [4]:
data_collection.columns

Index(['name', 'team', 'pos', 'penalty_name', 'penalty_yards',
       'total_penalty_yards_by_position', 'total_penalty_yards_by_player',
       'total_penalty_yards_by_team'],
      dtype='object')

In [5]:
data_collection.dtypes

name                               object
team                               object
pos                                object
penalty_name                       object
penalty_yards                       int64
total_penalty_yards_by_position     int64
total_penalty_yards_by_player       int64
total_penalty_yards_by_team         int64
dtype: object

In [17]:
data_collection.head(1)

,name,team,pos,penalty_name,penalty_yards,total_penalty_yards_by_position,total_penalty_yards_by_player,total_penalty_yards_by_team
0,A.Gurode,Dallas,C,Defensive Pass Interference,220,3821,456,3299

In [6]:
pen_by_pos.columns

Index(['pos', 'count_by_pos', 'total_penalty_yards_by_position'], dtype='object')

In [7]:
pen_by_pos.dtypes

pos                                object
count_by_pos                        int64
total_penalty_yards_by_position     int64
dtype: object

In [16]:
pen_by_pos.head(1)

  pos  count_by_pos  total_penalty_yards_by_position
0  WR           300                             8360

In [8]:
pen_by_pos_2.columns

Index(['name', 'team', 'player_position', 'penalty_name', 'penalty_yards'], dtype='object')

In [9]:
pen_by_pos_2.dtypes

name               object
team               object
player_position    object
penalty_name       object
penalty_yards       int64
dtype: object

In [15]:
pen_by_pos_2.head(1)

,name,team,player_position,penalty_name,penalty_yards
0,A.Gurode,Dallas,C,Defensive Pass Interference,220

In [4]:
log.columns

Index(['Penalty', 'Date', 'Against', 'Beneficiary', 'Player', 'Pos',
       'Ref_Crew', 'Quarter', 'Time', 'Down', 'Distance', 'Declined',
       'Offsetting', 'Yards', 'Home', 'Phase', 'Week', 'Year'],
      dtype='object')

In [5]:
log.dtypes

Penalty        object
Date           object
Against        object
Beneficiary    object
Player         object
Pos            object
Ref_Crew       object
Quarter         int64
Time           object
Down            int64
Distance        int64
Declined       object
Offsetting     object
Yards           int64
Home           object
Phase          object
Week            int64
Year            int64
dtype: object

In [6]:
log.head(1)

,Penalty,Date,Against,Beneficiary,Player,Pos,Ref_Crew,Quarter,Time,Down,Distance,Declined,Offsetting,Yards,Home,Phase,Week,Year
0,Unnecessary Roughness,09/10/2009,Pittsburgh,Tennessee,T.Polamalu,SS,Bill Leavy,1,8:20,1,10,No,No,15,Yes,Defense,1,2009