In [1]:
import pandas as pd
import numpy as np

In [3]:
data_collection = pd.read_csv('C:/Users/ashwi/Documents/LighthouseLabs/Data Analysis/Capstone Project/capstone/data/1/data_collection.csv')
pen_by_pos = pd.read_csv('C:/Users/ashwi/Documents/LighthouseLabs/Data Analysis/Capstone Project/capstone/data/1/pen_by_pos.csv')
pen_by_pos_2 = pd.read_csv('C:/Users/ashwi/Documents/LighthouseLabs/Data Analysis/Capstone Project/capstone/data/1/pen_by_pos_2.csv')

In [4]:
data_collection.columns

Index(['name', 'team', 'pos', 'penalty_name', 'penalty_yards',
       'total_penalty_yards_by_position', 'total_penalty_yards_by_player',
       'total_penalty_yards_by_team'],
      dtype='object')

In [5]:
data_collection.dtypes

name                               object
team                               object
pos                                object
penalty_name                       object
penalty_yards                       int64
total_penalty_yards_by_position     int64
total_penalty_yards_by_player       int64
total_penalty_yards_by_team         int64
dtype: object

In [17]:
data_collection.head(1)

,name,team,pos,penalty_name,penalty_yards,total_penalty_yards_by_position,total_penalty_yards_by_player,total_penalty_yards_by_team
0,A.Gurode,Dallas,C,Defensive Pass Interference,220,3821,456,3299

In [6]:
pen_by_pos.columns

Index(['pos', 'count_by_pos', 'total_penalty_yards_by_position'], dtype='object')

In [7]:
pen_by_pos.dtypes

pos                                object
count_by_pos                        int64
total_penalty_yards_by_position     int64
dtype: object

In [16]:
pen_by_pos.head(1)

  pos  count_by_pos  total_penalty_yards_by_position
0  WR           300                             8360

In [8]:
pen_by_pos_2.columns

Index(['name', 'team', 'player_position', 'penalty_name', 'penalty_yards'], dtype='object')

In [9]:
pen_by_pos_2.dtypes

name               object
team               object
player_position    object
penalty_name       object
penalty_yards       int64
dtype: object

In [15]:
pen_by_pos_2.head(1)

,name,team,player_position,penalty_name,penalty_yards
0,A.Gurode,Dallas,C,Defensive Pass Interference,220